@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap");
$primary-color: #cde6f5;
$secondary-color: #87919e;
$font-family: "Cabin Condensed", sans-serif;

.card-body {
  text-align: justify;
}

.button-open:hover {
  background-color: #8c8c8c;
}

.button-open {
  margin-top: auto;
  color: white;
  background-color: $secondary-color;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-left: 35%;
  border-radius: 5px;
}

.card-footer {
  padding: 10px;
  margin: 25px;
}
