@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap");
$primary-color: #cde6f5;
$secondary-color: #87919e;
$font-family: "Cabin Condensed", sans-serif;

.movie-view {
  background-color: $primary-color;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding: 50px;
}

.back-button {
  font-family: "Cabin Condensed", sans-serif;
  margin-top: auto;
  color: white;
  background-color: $secondary-color;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #8c8c8c;
}

.movie-description,
.movie-genre,
.movie-director {
  font-family: "Cabin Condensed", sans-serif;
  text-align: justify;
  padding: 10px;
}

.movie-title {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.movie-poster {
  object-fit: cover;
}
