@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap");
$primary-color: #cde6f5;
$secondary-color: #87919e;

.card-margin {
  margin-bottom: 20px;
  margin-right: 10px;
}
