@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap");
$primary-color: #cde6f5;
$secondary-color: #87919e;
$font-family: "Cabin Condensed", sans-serif;

.update-view {
  text-justify: justify;
  background-color: $primary-color;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding: 40px;
}

.unregister-btn,
.update-btn {
  margin-top: auto;
  color: white;
  background-color: $secondary-color;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-left: 16px;
  border-radius: 5px;
}

.back-to-profile {
  margin-top: auto;
  float: right;
  color: white;
  background-color: $secondary-color;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-right: 16px;
  border-radius: 5px;
}

.btn-row {
  justify-content: space-between;
}
